<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      window.killshotURL = "<%= image_url('killshot.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.airmonarchURL = "<%= image_url('airm.png') %>";
    </script>
    <script type="text/javascript">
      window.backurl = "<%= image_url('background.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.bkURL = "<%= image_url('bkgrd.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.atmoStyle = "<%= image_url('atmoselephantstyle.jpg') %>";
    </script>
    <script type="text/javascript">
      window.inertiaStyle = "<%= image_url('inertiastyle.jpg') %>";
    </script>
    <script type="text/javascript">
      window.waveStyle = "<%= image_url('waverunnerstyle.jpg') %>";
    </script>
    <script type="text/javascript">
      window.yeezyStyle = "<%= image_url('yeezystyle.jpg') %>";
    </script>
    <script type="text/javascript">
      window.vfive = "<%= image_url('990v5style.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.nbseven = "<%= image_url('997.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.nbeight = "<%= image_url('nb8.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.mtwokblack = "<%= image_url('m2kb.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.mtwokstyle = "<%= image_url('lightbone.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.mtwokwhite = "<%= image_url('m2kw.jpeg') %>";
    </script>
    <script type="text/javascript">
      window.monarchred = "<%= image_url('nbr.jpeg') %>"";
    </script>
    <script type="text/javascript">
      window.monarchstyle = "<%= image_url('monarchstyle.jpg') %>"";
    </script>
    <title>Sheep</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
          integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
